<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Recacor Wheel Tracker</title>
    <meta name="description" content="" />
    <meta name="Author" content="Eccuo Ingeniería Informática" />

    <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}"/>

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="{{ asset('assets/css/essentials.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/layout.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/color_scheme/green.css') }}" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- PAGE LEVEL STYLES -->
    <link href="{{ asset('assets/css/layout-datatables.css') }}" rel="stylesheet" type="text/css" />

</head>
<!--
    .boxed = boxed version
-->
<body>


<!-- WRAPPER -->
<div id="wrapper" class="clearfix">

    <!--
        ASIDE
        Keep it outside of #wrapper (responsive purpose)
    -->
    <aside id="aside">
        <!--
            Always open:
            <li class="active alays-open">

            LABELS:
                <span class="label label-danger pull-right">1</span>
                <span class="label label-default pull-right">1</span>
                <span class="label label-warning pull-right">1</span>
                <span class="label label-success pull-right">1</span>
                <span class="label label-info pull-right">1</span>
        -->
        <nav id="sideNav"><!-- MAIN MENU -->
            <ul class="nav nav-list">
                <li class="menu-derecha" title="Neumaticos">
                    <a href="#">
                        <i class="main-icon fa fa-dashboard"></i><span>Neumáticos</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="#">
                        <i class="fa fa-menu-arrow pull-right"></i>
                        <i class="main-icon fa fa-gears"></i> <span>Opciones</span>
                    </a>
                    <ul>
                        <li class="menu-derecha" title="Usuarios"><!-- dashboard -->
                            <a href="#"><!-- warning - url used by default by ajax (if eneabled) -->
                                <i class="main-icon fa fa-users"></i> <span>Usuarios</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Servicios">
                            <a href="#">
                                <i class="main-icon fa fa-bar-chart-o"></i> <span>Servicios</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Clientes">
                            <a href="#">
                                <i class="main-icon fa fa-table"></i> <span>Clientes</span>
                            </a>
                        </li>
                        <!--<li class="menu-derecha" title="Talleres">
                            <a href="#">
                                <i class="main-icon fa fa-pencil-square-o"></i> <span>Talleres</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Lineas">
                            <a href="#">
                                <i class="main-icon fa fa-gears"></i> <span>Lineas de producción</span>
                            </a>
                        </li>-->
                        <li class="menu-derecha" title="Medidas">
                            <a href="#">
                                <i class="main-icon fa fa-dot-circle-o"></i> <span>Medidas</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Marcas">
                            <a href="#">
                                <i class="main-icon fa fa-registered"></i> <span>Marcas</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Puestos">
                            <a href="#">
                                <i class="main-icon fa fa-book"></i> <span>Puestos de trabajo</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Entrada">
                            <a href="#">
                                <i class="main-icon fa fa-calendar"></i><span>Entrada empleados</span>
                            </a>
                        </li>
                        <li class="menu-derecha" title="Escaneado">
                            <a href="#">
                                <i class="main-icon fa fa-link"></i><span>Escaneado neumáticos</span>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>

        </nav>

        <span id="asidebg"><!-- aside fixed background --></span>
    </aside>
    <!-- /ASIDE -->


    <!-- HEADER -->
    <header id="header">

        <!-- Mobile Button -->
        <button id="mobileMenuBtn"></button>

        <!-- Logo -->
        <span class="logo pull-left">
					<a href="{{ path('homepage') }}"><img src="{{ asset('assets/images/logo-chico.png') }}" alt="admin panel" height="35" /></a>
				</span>

        <!--<form method="get" action="page-search.html" class="search pull-left hidden-xs">
            <input type="text" class="form-control" name="k" placeholder="Search for something..." />
        </form>-->

        <!--<nav>


            <ul class="nav pull-right">


                <li class="dropdown pull-left">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img class="user-avatar" alt="" src="assets/images/noavatar.jpg" height="34" />
                        <span class="user-name">
									<span class="hidden-xs">
										John Doe <i class="fa fa-angle-down"></i>
									</span>
								</span>
                    </a>
                    <ul class="dropdown-menu hold-on-click">
                        <li>
                            <a href="calendar.html"><i class="fa fa-calendar"></i> Calendar</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope"></i> Inbox
                                <span class="pull-right label label-default">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="page-user-profile.html"><i class="fa fa-cogs"></i> Settings</a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a href="page-lock.html"><i class="fa fa-lock"></i> Lock Screen</a>
                        </li>
                        <li>
                            <a href="page-login.html"><i class="fa fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>


            </ul>


        </nav>-->

    </header>
    <!-- /HEADER -->


    {% block content %}

    {% endblock %}


    {% block javascripts %}{% endblock %}

</body>
</html>